    <script>
console.log("RWV test1");
  </script> 
  
  <%= render 'users/user_header', current_user: current_user %>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <div class="domain-crawler">
        <%= render 'domain_crawlers/domain_summary', args: {:selected => DOMAIN_ACTION[:select_action]}  %>
        <%= render 'domain_crawlers/new_domain_form', args: {:user_id => current_user.id, :domain_crawler => DomainCrawler.new} %>
        <%= render 'domain_crawlers/new_search_form', args: {:user_id => current_user.id} %>
        <%= render 'domain_crawlers/old_search_form', args: {:user_id => current_user.id} %>
     <% if !current_user.guest %>
        <%= render 'domain_crawlers/groups', args: {:selected => GROUP_ACTION[:select_action]} %>
     <% else %>
     
     <script>
        document.addEventListener("DOMContentLoaded", () => {
        SelectDomainAction();       
       });
     </script>
     <% end%>
  </div>
