<!DOCTYPE html>

<html>
<%= stylesheet_link_tag "application" %>

<head>
  <title>St. Thomas the Search Engine</title>
  <%= csrf_meta_tags %>
  <% if  current_user == nil %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <% end %>


<%= javascript_importmap_tags %>



</head>

<body>
<%= render 'shared/favicon' %>
<% @result_str = "" %>
<div class="sidemenu">
 <%= render "shared/sidemenu" %>
 <%= yield %>
</div>

<%= render "shared/menu" %>

<div class="main-panel">
  <div class="main-panel-content">
    
    <%= render 'shared/instructions' %>
    <div id="search-results" ></div>
    <div id="group-results"></div>
  </div>
</div>
</body>
</html>
